.board {
  display: inline-block;
}

.square {
  height: 3rem;
  width: 3rem;
  border: 1px solid #000;
  text-align: center;
  line-height: 2;
}

.piece {
  display: inline-block;
  font-family: serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.piece__white {
  transform: rotate(0.5turn);
}

.row_number {
  padding-left: 0.5rem;
  line-height: 3;
}
