.board {
  display: inline-block;
}

.square {
  height: 3rem;
  width: 3rem;
  border: 1px solid #000;
  text-align: center;
  line-height: 2;
}

.row_number {
  padding-left: 0.5rem;
  line-height: 3;
}
