.piece {
  display: inline-block;
  font-family: serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
}

.white {
  transform: rotate(0.5turn);
}

.hand {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5;
}
