@import 'the-new-css-reset/css/reset.css';

main {
  width: 75%;
  margin: 4rem auto 4rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}
